* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

body {
  background: var(--Magnolia);
}
.flex {
  display: flex;
  justify-content: space-between;
}
.flex-center {
  display: flex;
  justify-content: space-evenly;
}
.align-center {
  display: flex;
  align-items: center;
}
.bold {
  font-family: bold;
}
.regular {
  font-family: regular;
}
.medium {
  font-family: medium;
}
.rel-div {
  position: relative;
}
input,
button {
  font-family: regular;
}
input,
button {
  border: none;
}
input:focus,
button:focus {
  outline: none;
}
main {
  height: 90vh;
  display: grid;
}
/* FONTS */
@font-face {
  font-family: bold;
  src: url(assets/fonts/Ubuntu-Bold.ttf);
}
@font-face {
  font-family: medium;
  src: url(assets/fonts/Ubuntu-Medium.ttf);
}
@font-face {
  font-family: regular;
  src: url(assets/fonts/Ubuntu-Regular.ttf);
}
.main-container {
  background: #fff;
  padding: 1rem 4rem 1rem 1rem;
  border-radius: 1rem;
  margin: auto;
  width: 58%;
  gap: 3rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.plans {
  background: url("assets/images/bg-sidebar-desktop.svg") 50% / cover no-repeat;
  position: relative;
  overflow: hidden;
  padding: 1rem 0;
  width: 35%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}
.plans-div {
  align-items: center;
  display: flex;
  padding: 0 1rem;
  margin: 1rem 0;
  color: #fff;
  gap: 1rem;
  text-transform: uppercase;
}
.num {
  padding: 0.7rem 1rem;
  margin: auto 0;
  border-radius: 50%;
  font-family: bold;
  border: 1px solid #fff;
}
.plans-div > .active {
  background: var(--Light-blue);
  color: var(--Marine-blue);
}
.info-blk {
  font-size: 0.7rem;
}
.info-blk,
.info-txt {
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: medium;
}
.select {
  width: 75%;
  margin: 1rem 0 0 0;
}
.float-img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.select > .active {
  display: block;
}
.step {
  display: none;
  font-family: regular;
}
.step > h2 {
  font-family: bold;
  font-size: 2rem;
  color: var(--Marine-blue);
}
.step > p {
  color: var(--Cool-gray);
  margin: 1rem 0;
}
.step-5 {
  text-align: center;
}
.step-5 > h2 {
  margin: 1.2rem 0;
}
.step-5 p {
  font-size: 1.1rem;
  line-height: 1.5;
}
.tab-1,
.tab {
  cursor: pointer;
  animation: slide-up 0.7s ease-in-out 1;
}
.tab-2 {
  animation: slide-up 0.9s ease-in-out 1;
}
.tab-3 {
  animation: slide-up 1.1s ease-in-out 1;
}
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    transform: translateY(1px);
  }
}
.main-form {
  margin-top: 2rem;
}
.form-control {
  margin: 1rem 0;
}
.form-last {
  margin-top: 5rem;
  text-align: right;
}
.go-back {
  color: var(--Cool-gray);
  background: transparent;
}
.go-back:hover {
  color: gray;
}
.btm-btn,
.nxt-btn {
  background: var(--Marine-blue);
  color: #fff;
}
.go-back,
.btm-btn,
.nxt-btn {
  padding: 1rem 1.5rem;
  border-radius: 7px;
  font-family: medium;
}
.go-back:hover,
.btm-btn:hover {
  transform: scale(1.12);
}
.form-control > input {
  width: 100%;
  border: 1px solid var(--Cool-gray);
  padding: 0.813rem;
  font-size: 1rem;
  color: var(--Marine-blue);
  border-radius: 10px;
}
.step-label {
  display: block;
  margin: 0.5rem 0;
  color: var(--Marine-blue);
  font-family: medium;
}
/* ===== Pricing =====  */
.plan-select {
  margin: 2rem 0;
}
.plan-select > .active {
  border: 1px solid var(--Purplish-blue);
  background: var(--Magnolia);
}

.tab {
  width: 130px;
  border: 1px solid var(--Light-gray);
  border-radius: 6px;
  padding: 0.7rem;
}
.tab:hover {
  background: var(--Magnolia);
  transform: scale(1.06);
}
.val-label {
  display: block;
  font-style: italic;
  margin-bottom: 1.4rem;
}
.select-per {
  display: none;
}
.select-per.active {
  display: block;
}
.price-info {
  margin-top: 2rem;
}
.price-info > p:first-child {
  color: var(--Marine-blue);
  font-family: bold;
}
.price {
  color: var(--Cool-gray);
  margin: 0.4rem 0;
}
.per {
  background: var(--Magnolia);
  text-align: center;
  padding: 0.7rem 0;
}
.per-span {
  color: var(--Cool-gray);
  font-family: regular;
}
.per > .active {
  font-family: bold;
  color: var(--Marine-blue);
}
.toggle-span {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  margin: 0 2rem;
}
.toggle-span input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--Marine-blue);
}
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.step-3 {
  color: #000;
}
.add {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
  padding: 1rem 1.4rem;
  border-radius: 8px;
  border: 1px solid transparent;
}
.checkbox {
  width: 20px;
  height: 20px;
  margin: auto 0;
}
.checkbox:checked {
  background: var(--Marine-blue);
}
.in-p-span {
  font-family: medium;
  color: var(--Marine-blue);
}
.in-p-span-2 {
  color: var(--Cool-gray);
  margin-top: 0.2rem;
  font-size: 1rem;
}
.price-span {
  color: var(--Purplish-blue);
  font-size: 0.9rem;
}
.add.active {
  background: var(--Magnolia);
  border: 1px solid var(--Purplish-blue);
}
.in-p {
  gap: 2rem;
}
.in-p > p {
  display: flex;
  flex-direction: column;
}

.finish-div {
  padding: 1rem;
  background: var(--Magnolia);
  border-radius: 8px;
}
.f-div {
  margin: 1rem 0;
}
.f-p > span {
  display: block;
}
.btn-chng {
  background: transparent;
  text-decoration: underline;
  color: var(--Cool-gray);
  cursor: pointer;
}
.f-p-price {
  color: var(--Marine-blue);
}
.total-div {
  margin: 1rem 1.5rem;
}
.tl-span {
  font-size: 1.2rem;
}
/* display none */
.none {
  display: none;
}
.hide{
  transform: scale(0);
}